<%- include('../../main/_header') -%>

<%- include('../_bitacora') -%>

<script>
    function get_time_2(){
        var d = new Date();
        var fecha = d.getDate() + '-' + ( d.getMonth() + 1 ) + '-' + d.getFullYear();
        var hora = d.getHours() + ':' + d.getMinutes();
        document.getElementById('termino_f').value= fecha;
        document.getElementById('termino_h').value = hora;
    }
</script>

<form action="/bitacora/continuar/update/<%= data.ID_MANTENIMIENTO %>" method="POST">

<div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
    <div class="col-md-12">
        <div class="card text-white bg-primary mb-2">
            <h1>Finalizar bitácora: SNM - <%= data.ID_MANTENIMIENTO %>
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card border-primary mb-2">
            <div class="card-header"><h3>Termino del mantenimiento</h1></div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input class="form-control" id="termino_f" name="termino_f" type="text" placeholder="Fecha de termino del mantenimiento">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" id="termino_h" name="termino_h" type="text" placeholder="Hora de termino del mantenimiento">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p type='button' class="btn btn-outline-primary" onclick="get_time_2();" style="width: 50%;">Termino</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card border-primary mb-2">
            <div class="card-header"><h3>Datos previos</h1></div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <h4 style="font-weight: bold;">Trabajador:</h4>
                        </div>
                        <div class="col-md-3">
                            <h4><%= data.nombre_tra %></h4>
                        </div>
                        <div class="col-md-3">
                            <h4 style="font-weight: bold;">Equipo:</h4>
                        </div>
                        <div class="col-md-3">
                            <h4><%= data.serie %></h4>
                        </div>
                        <div class="col-md-3">
                            <h4 style="font-weight: bold;">Empresa:</h4>
                        </div>
                        <div class="col-md-3">
                            <h4><%= data.nombre_emp %></h4>
                        </div>
                        <div class="col-md-3">
                            <h4 style="font-weight: bold;">Técnico:</h4>
                        </div>
                        <div class="col-md-3">
                            <h4><%= data.nombre_tec %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card border-primary mb-2">
            <div class="card-header"><h3>Diagnosticos del equipo</h1></div>
            <div class="card-body">
                <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                    <div class="col-md-6">
                        <label for="exampleTextarea">Falla</label>
                    </div>
                    <div class="col-md-6">
                        <label for="exampleTextarea">Causa</label>
                    </div>

                    <div class="col-md-6">
                        <textarea class="form-control" id="falla" name="falla"></textarea>
                    </div>
                    
                    <div class="col-md-6">
                        <textarea class="form-control" id="causa" name="causa"></textarea>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="exampleTextarea">Solución</label>
                    </div>
                    <div class="col-md-6">
                        <label for="exampleTextarea">Piezas nuevas</label>
                    </div>
                    
                    <div class="col-md-6">
                        <textarea class="form-control" id="solucion" name="solucion"></textarea>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" id="nuevo" name="nuevo" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card border-primary mb-2">
            <div class="card-header"><h3>Evidencias fotográficas</h1></div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Antes</h4>
                        <input type="file" class="form-control-file" id="antes" aria-describedby="fileHelp" multiple>
                    </div>
                    <div class="col-md-6">
                        <h4>Después</h4>
                        <input type="file" class="form-control-file" id="despues" aria-describedby="fileHelp" multiple>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-outline-danger"  onclick="alert('Bitácora finalizada')" style="width: 100%; margin-bottom: 2%;">Terminar</button>
    </div>

</div>
<%- include('../../main/_footer') -%>