<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f849a;">
    <h1 style="color: aliceblue;">Bitácora
   </h1>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01"></div>
       <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link" href="/bitacora/nueva"><h3>Nueva</h3></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/bitacora/continuar"><h3>Continuar</h3></a>
          </li>
       </ul>
    </div>
 </nav>