<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Bitácora</title>
      <link
         rel="stylesheet"
         href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
      />
   </head>

   <body>
      <div class="container" style="height: 7em; width: 100%; margin-top: 1%;">
         <div class="row mt-1">
            <div class="col-md-3">
               <img SRC="https://www.citedi.ipn.mx/portal/img/fpage/logo_ipn_web_citedi.png" style="height: 20%;">
            </div>
             <div class="col-md-7">
               <h2 style="font-weight: 500; color: #5e2129; text-align: center;">Instituto Politécnico Nacional</h2>
               <h4 style="font-weight: 400; color: #2f849a; text-align: center;">Secretaría de Inovación e Integración Social</h4>
               <h4 style="font-weight: 400; color: #2f849a; text-align: center;">Centro de Nanociencias y Micro y Nanotecnologías</h4>
             </div>
            <div class="col-md-2">
               <img SRC="https://www.ipn.mx/assets/files/nanocentro/img/conocenos/logo-cnmn.gif" style="height: 20%;">
            </div>
         </div>
      </div>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em;">
         <thead>
            <tr class="table-active">
               <th>Formato de Mantenimiento<br>Subdiración de Micro y Nanotecnologías (SMN)</th>
               <th id="folio" style="text-align:right"></th>
            </tr>
         </thead>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="2">Inicio del mantenimiento</th>
               <th colspan="2">Termino del mantenimiento</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:25%; font-weight: bold;">Fecha</td>
                <td style="width:25%;" id="fecha_i"></td>
                <td style="width:25%; font-weight: bold;">Fecha</td>
                <td style="width:25%;" id="fecha_f">..</td>
            </tr>
            <tr>
               <td style="width:25%; font-weight: bold;">Hora</td>
                <td style="width:25%;" id="hora_i"></td>
                <td style="width:25%; font-weight: bold;">Hora</td>
                <td style="width:25%;" id="hora_f"></td>
           </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="2">Datos del trabajador del CNMN que superviso el mantenimiento</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:30%; font-weight: bold;">Nombre del trabajador:</td>
                <td style="width:70%;" id="nombre_tra"></td>
            </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="4">Datos de la empresa y el técnico que realizo el mantenimiento</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:30%; font-weight: bold;" colspan="2">Nombre del técnico:</td>
                <td style="width:70%;" id="nombre_tec" colspan="2"></td>
            </tr>
            <tr>
               <td style="width:30%; font-weight: bold;" colspan="2">Nombre de la empresa:</td>
               <td style="width:70%;" id="nombre_emp" colspan="2"></td>
           </tr>
           <tr>
               <td style="width:25%; font-weight: bold;">Teléfono celular</td>
               <td style="width:25%;" id="celular"></td>
               <td style="width:25%; font-weight: bold;" rowspan="3">Dirección fiscal de la empresa</td>
               <td style="width:25%;" id="direccion" rowspan="3">..</td>
            </tr>
            <tr>
               <td style="width:25%; font-weight: bold;">Teléfono oficina</td>
               <td style="width:25%;" id="oficina"></td>
            </tr>
            <tr>
               <td style="width:25%; font-weight: bold;">Correo electónico</td>
               <td style="width:25%;" id="correo"></td>
            </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="4">Descripción del equipo</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:25%; font-weight: bold;">Marca del equipo:</td>
                <td style="width:25%;" id="marca"></td>
                <td style="width:25%; font-weight: bold;">Modelo del equipo:</td>
                <td style="width:25%;" id="modelo"></td>
            </tr>
            <tr>
               <td style="width:25%; font-weight: bold;">No. de serie del equipo:</td>
               <td style="width:25%;" id="serie"></td>
               <td style="width:25%; font-weight: bold;">Ubicación del equipo:</td>
               <td style="width:25%;" id="ubicacion"></td>
           </tr>
           <tr>
            <td colspan="2" style=" font-weight: bold;">Tipo de mantenimiento:</td>
            <td colspan="2" id="tipo"></td>
        </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="4">Descripción del equipo</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:25%; font-weight: bold;">Falla:</td>
                <td style="width:25%;" id="falla"></td>
                <td style="width:25%; font-weight: bold;">Causa:</td>
                <td style="width:25%;" id="causa"></td>
            </tr>
            <tr>
               <td style="width:25%; font-weight: bold;">Solución:</td>
               <td style="width:25%;" id="solucion"></td>
               <td style="width:25%; font-weight: bold;">Piezas nuevas:</td>
               <td style="width:25%;" id="piezas"></td>
           </tr>
           <tr>
            <td style=" font-weight: bold;">Observaciones:</td>
            <td colspan="3" id="observaciones"></td>
         </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <thead>
            <tr class="table-active">
               <th colspan="2">Evidencia fotográfica</th>
            </tr>
            <tr class="table-active">
               <th>Antes del mantenimiento</th>
               <th>Despues del mantenimiento</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td style="width:50%;" id="">Espacio para fotos</td>
                <td style="width:50%;" id="">Espacio para fotos</td>
            </tr>
         </tbody>
      </table>

      <table class="table table-bordered table-hover" style="max-width: 90%; margin-left: 5%; margin-top: .5em; text-align: center;">
         <tbody>
            <tr>
                <td style="width:50%;" id="firma_tra"></td>
                <td style="width:50%;" id="firma_tec"> </td>
            </tr>
            <tr>
               <td style="width:50%; font-weight: bold;">Nombre y firma del trabajador del CNMN, que superviso el mantenimiento</td>
               <td style="width:50%; font-weight: bold;">Nombre y firma del técnico que realizó el mantenimiento</td>
           </tr>
         </tbody>
      </table>
   </body>
    
   <script>
      var datos = <%- JSON.stringify(data) %> 
      
      window.onload = llenar();

      function llenar(){
         document.getElementById("folio").innerHTML = "Folio: SMM-"+datos[0].ID_MANTENIMIENTO;
         document.getElementById("fecha_i").innerHTML = " "+datos[0].inicio_f;
         document.getElementById("hora_i").innerHTML = " "+datos[0].inicio_h;
         document.getElementById("fecha_f").innerHTML = " "+datos[0].termino_f;
         document.getElementById("hora_f").innerHTML = " "+datos[0].termino_h;
         document.getElementById("nombre_tra").innerHTML = " "+datos[0].nombre_tra;
         document.getElementById("nombre_tec").innerHTML = " "+datos[0].nombre_tec;
         document.getElementById("nombre_emp").innerHTML = " "+datos[0].nombre_emp;
         document.getElementById("celular").innerHTML = " "+datos[0].celular;
         document.getElementById("oficina").innerHTML = " "+datos[0].oficina;
         document.getElementById("correo").innerHTML = " "+datos[0].correo;
         document.getElementById("direccion").innerHTML = " "+datos[0].direccion;
         document.getElementById("marca").innerHTML = " "+datos[0].marca;
         document.getElementById("modelo").innerHTML = " "+datos[0].modelo;
         document.getElementById("serie").innerHTML = " "+datos[0].serie;
         document.getElementById("ubicacion").innerHTML = " "+datos[0].lugar;
         document.getElementById("tipo").innerHTML = " "+datos[0].tipo_mantenimiento;
         document.getElementById("falla").innerHTML = " "+datos[0].falla;
         document.getElementById("causa").innerHTML = " "+datos[0].causa;
         document.getElementById("solucion").innerHTML = " "+datos[0].solucion;
         document.getElementById("piezas").innerHTML = " "+datos[0].nuevo;
         document.getElementById("observaciones").innerHTML = " Observaciones ";
         document.getElementById("firma_tra").innerHTML = " "+datos[0].firma_tra;
         document.getElementById("firma_tec").innerHTML = " "+datos[0].firma_tec;
      }
      
   </script>

</html>