<%- include('../../main/_header') -%>

<%- include('../_bitacora') -%>

<script type="text/javascript">

    var trabajadores = <%- JSON.stringify(bdtrabajador) %>  
    
    var equipos = <%- JSON.stringify(bdequipo) %>
      
    function get_time_1(){
        var d = new Date();
        var fecha = d.getDate() + '-' + ( d.getMonth() + 1 ) + '-' + d.getFullYear();
        var hora = d.getHours() + ':' + d.getMinutes();
        document.getElementById('inicio_f').value= fecha;
        document.getElementById('inicio_h').value = hora;
    }

    function get_time_2(){
        var d = new Date();
        var fecha = d.getDate() + '-' + ( d.getMonth() + 1 ) + '-' + d.getFullYear();
        var hora = d.getHours() + ':' + d.getMinutes();
        document.getElementById('termino_f').value= fecha;
        document.getElementById('termino_h').value = hora;
    }

    function get_trabajador(){
        var seltrab = document.getElementById('id_trabajador');
        for(var i=0; i < trabajadores.length ;i++){
            if ( trabajadores[i].ID_TRABAJADOR == seltrab.value){
                document.getElementById('trabajador_firma').value = trabajadores[i].firma_tra;
                break;
            }
        }
    }

</script>
<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
    <h1>Nueva bitácora: SNM -
        <% if (fol){ %>
            <%= fol.ID_MANTENIMIENTO +1%>
        <% } %>
    </h1>
</div>

<form action="/bitacora/nueva/add" method="POST">
    <div class="row mt-2" style="max-width: 90%; margin-left: 5%; text-align: center;">
        <div class="col-md-12">
            
        </div>
        <div class="col-md-6">
            <div class="card mb-2" style="border-color: #59adce">
                <div class="card-header"><h3>Inicio del mantenimiento</h1></div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input class="form-control" id="inicio_f" name="inicio_f" type="text" placeholder="Fecha de inicio del mantenimiento">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="inicio_h" name="inicio_h" type="text" placeholder="Hora de inicio del mantenimiento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p type='button' class="btn btn-outline-primary" onclick="get_time_1();" style="width: 50%;" >Inicio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-2" style="border-color: #59adce">
                <div class="card-header"><h3>Termino del mantenimiento</h1></div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input class="form-control" id="termino_f" name="termino_f" type="text" placeholder="Fecha de termino del mantenimiento">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" id="termino_h" name="termino_h" type="text" placeholder="Hora de termino del mantenimiento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p type='button' class="btn btn-outline-primary" onclick="get_time_2();" style="width: 50%;">Termino</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Trabajador encargado del mantenimiento</h1></div>
                <div class="card-body">
                    <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                        <div class="col-md-4">
                            <h5>Trabajador :</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <select class="form-control" id="id_trabajador" name="idtrabajador" onclick="get_trabajador();" >
                                    <% if (bdtrabajador){ %> <% for (var i=0; i< bdtrabajador.length; i++) { %>
                                        <option value="<%= bdtrabajador[i].ID_TRABAJADOR %>"><%= bdtrabajador[i].nombre_tra %></option>
                                    <% } %> <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        Firma:
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="trabajador_firma" type="text" placeholder="firma" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Técnico encargado del mantenimiento</h1></div>
                <div class="card-body">
                    <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                        <div class="col-md-2">
                            <h5>Empresa :</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" id="idempresa" onclick="tecnico();">
                                    <% if (bdempresa){ %> <% for (var i=0; i< bdempresa.length; i++) { %>
                                        <option value="<%= bdempresa[i].ID_EMPRESA %>"><%= bdempresa[i].nombre_emp %></option>
                                    <% } %> <% } %>
                                </select>
                            </div>
                        </div>
                        <script>
                            var tec = <%- JSON.stringify(bdtecnico) %> 

                            function tecnico(){
                                var empresa = document.getElementById("idempresa").value;
                                var tecnicos = document.getElementById("idtecnico");
                                var aux = 0;
                                for(var i=0 ; i< tec.length ; i++){
                                    if(tec[i].idempresa == empresa){
                                    tecnicos.options[aux] = new Option (tec[i].nombre_tec,tec[i].ID_TECNICO);
                                    aux++;
                                    }
                                }
                            }

                            function get_tecnico(){
                                var seltec = document.getElementById('idtecnico');
                                for(var i=0; i < tec.length ;i++){
                                    if ( tec[i].ID_TECNICO == seltec.value){
                                        document.getElementById('tecnico_celular').value = tec[i].celular;
                                        document.getElementById('tecnico_oficina').value = tec[i].oficina;
                                        document.getElementById('tecnico_correo').value = tec[i].correo;
                                        document.getElementById('tecnico_direccion').value = tec[i].direccion;
                                        document.getElementById('tecnico_firma').value = tec[i].firma_tec;
                                        break;
                                    }
                                }
                            }
                        </script>
                        <div class="col-md-2">
                            <h5>Técnico :</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" id="idtecnico" name="idtecnico" onclick="get_tecnico();" ></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        Tel. celular: 
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="tecnico_celular" type="text" placeholder="Tel. celular" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                    <div class="col-md-2">
                        Tel. oficina: 
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="tecnico_oficina" type="text" placeholder="Tel. officina" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                    <div class="col-md-2">
                        Correo: 
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="tecnico_correo" type="text" placeholder="Correo" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                    <div class="col-md-2">
                        Direccion: 
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="tecnico_direccion" type="text" placeholder="Dirección" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                    <div class="col-md-4">
                        Firma: 
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="tecnico_firma" type="text" placeholder="Firma" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Descripción del equipo</h1></div>
                <div class="card-body">
                    <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                        <div class="col-md-2">
                            <h5>Marca del equipo:</h5>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" id="equipo_marca" onclick="get_modelo();" >
                                    <% if (bdmarca){ %> <% for (var i=0; i< bdmarca.length; i++) { %>
                                        <option value="<%= bdmarca[i].marca %>"><%= bdmarca[i].marca %></option>
                                    <% } %> <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5>Modelo del equipo:</h5>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" id="equipo_modelo" onclick="get_lugar();" >
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5>Lugar del equipo:</h5>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" id="equipo_lugar" name="idequipo" onclick="get_equipo();" >
                                </select>
                            </div>
                        </div>
                        <script>
                            var equipos = <%- JSON.stringify(bdequipo) %>
                            var marcas = <%- JSON.stringify(bdmarca) %> 
                            var modelos = <%- JSON.stringify(bdmodelo) %> 

                            function get_modelo(){
                                var marcasel = document.getElementById("equipo_marca").value;
                                var modelosel = document.getElementById("equipo_modelo");
                                var aux = 0;
                                for(var i=0 ; i< modelos.length ; i++){
                                    if(modelos[i].marca == marcasel){
                                        modelosel.options[aux] = new Option (modelos[i].modelo,modelos[i].modelo);
                                    aux++;
                                    }
                                }
                            }

                            function get_lugar(){
                                var marcasel = document.getElementById("equipo_marca").value;
                                var modelosel = document.getElementById("equipo_modelo").value;
                                var lugarsel = document.getElementById("equipo_lugar");
                                var aux = 0;
                                for(var i=0 ; i< equipos.length ; i++){
                                    if(equipos[i].modelo == modelosel  && equipos[i].marca == marcasel){
                                        lugarsel.options[aux] = new Option (equipos[i].lugar,equipos[i].ID_EQUIPO);
                                    aux++;
                                    }
                                }
                            }

                            function get_equipo(){
                                var lugarsel = document.getElementById("equipo_lugar").value;
                                for(var i=0; i < equipos.length ;i++){
                                    if ( equipos[i].ID_EQUIPO == lugarsel){
                                        document.getElementById('equipo_serie').value = equipos[i].serie;
                                        break;
                                    }
                                }
                            }

                        </script>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h5>No. de serie del equipo :</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Tipo de mantenimiento :</h5>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <input class="form-control" id="equipo_serie" type="text" placeholder="No. de serie" disabled="" style="max-width: 90%; margin-left: 5%; margin-bottom: 3%;">
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="tipo_mantenimiento" name="tipo_mantenimiento" style="max-width: 95%;">
                        <option value="preventivo">Preventivo</option>
                        <option value="correctivo">Correctivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Diagnosticos del equipo</h1></div>
                <div class="card-body">
                    <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                        <div class="col-md-6">
                            <label for="exampleTextarea">Falla</label>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleTextarea">Causa</label>
                        </div>

                        <div class="col-md-6">
                            <textarea class="form-control" id="falla" name="falla"></textarea>
                        </div>
                        
                        <div class="col-md-6">
                            <textarea class="form-control" id="causa" name="causa"></textarea>
                        </div>
                        
                        <div class="col-md-6">
                            <label for="exampleTextarea">Solución</label>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleTextarea">Piezas nuevas</label>
                        </div>
                        
                        <div class="col-md-6">
                            <textarea class="form-control" id="solucion" name="solucion"></textarea>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" id="nuevo" name="nuevo" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Evidencias fotográficas</h1></div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <h4>Antes</h4>
                            <input type="file" class="form-control-file" id="antes" aria-describedby="fileHelp" multiple>
                        </div>
                        <div class="col-md-6">
                            <h4>Después</h4>
                            <input type="file" class="form-control-file" id="despues" aria-describedby="fileHelp" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style=" margin-bottom: 2%;">
            <div class="card mb-2" style="border-color: #59adce;">
                <div class="card-header"><h3>Estado del mantenimiento</h1></div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <select class="form-control" name="estado" style="max-width: 95%;">
                            <option value="0">Por terminar</option>
                            <option value="1">Terminada</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-outline-primary"  onclick="alert('Bitácora agregada')" style="width: 100%;">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>  

    </div>
</form>


<div class="col-md-12">
    <div class="card border-primary mb-2">
        <div class="card-header"><h3>Evidencias fotográficas</h1></div>
        <div class="card-body">
            <form class="form-horizontal" role="form" method="post" action="../../../" enctype="multipart/form-data">
                
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>
                <div class="form-group">
                    <label for="mob_no" class="col-md-3 control-label">Antes</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="file" name="img_antes" id="antes" accept=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="despues" class="col-md-3 control-label">Después</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="file" name="img_desp" id="despues" accept=""/>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->                                       
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-outline-primary" style="width: 100%;"><i class="icon-hand-right"></i> &nbsp Subir</button>
                    </div>
                </div> 
                
            </form>
        </div>
    </div>
</div>

<%- include('../../main/_footer') -%>