<%- include('../../main/_header') -%>

<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Administrador de empresas
   </h1>
</div>

<div class="container">
    <div class="row mt-8">
       <div class="col-md-8">
          <table class="table table-bordered table-hover">
             <thead>
                <tr class="table-active">
                   <th>Id</th>
                   <th>Nombre</th>
                   <th>Tel. oficina</th>
                   <th>Correo</th>
                   <th>Dirección</th>
                   <th>Acciones</th>
                </tr>
             </thead>
             <tbody>
                <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                <tr>
                   <td><%= data[i].ID_EMPRESA %></td>
                   <td><%= data[i].nombre_emp %></td>
                   <td><%= data[i].oficina %></td>
                   <td><%= data[i].correo %></td>
                   <td><%= data[i].direccion %></td>
                   <td>
                    <a href="/administrador/empresa/update/<%=data[i].ID_EMPRESA%>" class="btn btn btn-outline-secondary" style="width: 49%;"
                        >Editar</a
                     >
                      <a href="/administrador/empresa/del/<%=data[i].ID_EMPRESA%>" class="btn btn btn-outline-danger" style="width: 49%;"
                         >borrar</a
                      >
                      
                   </td>
                </tr>
                <% } %> <% } %>
             </tbody>
          </table>
       </div>
       <div class="col-md-4">
         <div class="card mb-2" style="border-color: #59adce; max-width: 20rem;">
           <div class="card-header">Agregar Empresa</div> 
               <div class="card-body">
                   <form action="/administrador/empresa/add" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="nombre_emp"
                        placeholder="Nombre"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                    <input
                       type="text"
                       name="oficina"
                       placeholder="Tel. Oficina"
                       class="form-control"
                    />
                 </div>
                 <div class="form-group">
                    <input
                       type="text"
                       name="correo"
                       placeholder="Correo"
                       class="form-control"
                    />
                 </div>
                    <div class="form-group">
                        <input
                           type="text"
                           name="direccion"
                           placeholder="Direccion"
                           class="form-control"
                        />
                  </div>
                 
                  <button type="submit" class="btn btn-outline-primary"  style="width: 49%;">Guardar</button>
                  <a href="/administrador/empresa/pdf" class="btn btn btn-outline-info"  style="width: 49%;"
                     >imprimir</a>
               </form>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>