<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Bitácora</title>
      <link
         rel="stylesheet"
         href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
      />
   </head>

   <body>
      <div class="container" style="height: 7em; width: 100%; margin-top: 1%;">
         <div class="row mt-1">
            <div class="col-md-3">
               <img SRC="https://www.citedi.ipn.mx/portal/img/fpage/logo_ipn_web_citedi.png" style="height: 20%;">
            </div>
             <div class="col-md-7">
               <h2 style="font-weight: 500; color: #5e2129; text-align: center;">Instituto Politécnico Nacional</h2>
               <h4 style="font-weight: 400; color: #2f849a; text-align: center;">Secretaría de Inovación e Integración Social</h4>
               <h4 style="font-weight: 400; color: #2f849a; text-align: center;">Centro de Nanociencias y Micro y Nanotecnologías</h4>
             </div>
            <div class="col-md-2">
               <img SRC="https://www.ipn.mx/assets/files/nanocentro/img/conocenos/logo-cnmn.gif" style="height: 20%;">
            </div>
         </div>
      </div>

      <div class="card text-white mb-2" style="background-color: #142857; margin-top: 1%; text-align: center;">
         <h1>Lista de Empresas Registradas
         </h1>
      </div>

    <div class="container">
        <div class="row mt-3">
           <div class="col-md-12">
              <table class="table table-bordered table-hover">
               <thead>
                  <tr class="table-active">
                     <th>Id</th>
                     <th>Nombre</th>
                     <th>Tel. oficina</th>
                     <th>Correo</th>
                     <th>Dirección</th>
                  </tr>
               </thead>
               <tbody>
                  <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                  <tr>
                     <td><%= data[i].ID_EMPRESA %></td>
                     <td><%= data[i].nombre_emp %></td>
                     <td><%= data[i].oficina %></td>
                     <td><%= data[i].correo %></td>
                     <td><%= data[i].direccion %></td>
                  </tr>
                  <% } %> <% } %>
               </tbody>
              </table>
           </div>
           
          </div>
        </div>
     </div>

   </body>
    
</html>

