<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f849a;">
   <a class="navbar-brand" href="/administrador"><h3>Administrador</h3></a>
   
   </button>
   <div class="collapse navbar-collapse" id="navbarColor01"></div>
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/administrador/bitacora"><h3>Bitácora</h3></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/administrador/empresa"><h3>Empresa</h3></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/administrador/equipo"><h3>Equipo</h3></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/administrador/trabajador"
               ><h3>Trabajador</h3></a
            >
         </li>
         <li class="nav-item">
         <a class="nav-link" href="/administrador/tecnico"><h3>Técnico</h3></a>
      </li>
      </ul>
   </div>
</nav>



