<%- include('../main/_header') -%>

<%- include('_administrador') -%>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.8rem;
      }

</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4"></div>
       <div class="col-md-4">
         <div class="card mb-2" style="border-color: #59adce; max-width: 20rem;">
           <div class="card-header"><h2>Iniciar sesión</h2></div> 
               <div class="card-body">
                   <form action="/administrador/login" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="username"
                        placeholder="Usuario"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="password"
                        name="password"
                        placeholder="Contraseña"
                        class="form-control"
                     />
                  </div>
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary">Iniciar sesión</button>
            </div>
         </div>
      </div>
    </div>
 </div>


<%- include('../main/_footer') -%>