<%- include('main/_header') -%>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.8rem;
      }

</style>

<h1>
    Página de bienvenida 
</h1>

<%- include('main/_footer') -%>