<%- include('../../main/_header') -%>
<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Editor de técnico
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
        <div class="col-md-2"></div>
       <div class="col-md-8">
         <div class="card mb-2" style="border-color: #59adce; max-width: 50rem;">
           <div class="card-header">Actualizar técnico: <%= data.nombre_tec %></div> 
               <div class="card-body">
                   <form action="/administrador/tecnico/update/<%= data.ID_TECNICO %>" method="POST">
                    <div class="form-group">
                        <input
                           type="text"
                           name="nombre_tec"
                           placeholder="Nombre"
                           class="form-control"
                        />
                     </div>
                     <div class="form-group">
                        <select class="form-control" name="idempresa">
                            <% if (bdempresa){ %> <% for (var i=0; i< bdempresa.length; i++) { %>
                                <option value="<%= bdempresa[i].ID_EMPRESA %>"><%= bdempresa[i].nombre_emp %></option>
                            <% } %> <% } %>
                        </select>
                    </div>
                     <div class="form-group">
                        <input
                           type="text"
                           name="celular"
                           placeholder="celular"
                           class="form-control"
                        />
                     </div>
                   <div class="form-group">
                      <input
                         type="text"
                         name="firma_tec"
                         placeholder="firma"
                         class="form-control"
                      />
                   </div>
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary" onclick="alert('Tecnico Actualizado')">Actualizar</button>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>