<%- include('../../main/_header') -%>

<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Administrador de técnicos
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
       <div class="col-md-8">
          <table class="table table-bordered table-hover">
             <thead>
                <tr class="table-active">
                   <th>Id</th>
                   <th>Nombre</th>
                   <th>Empresa</th>
                   <th>T. celular</th>
                   <th>Firma</th>
                   <th style="text-align: center;">Acciones</th>
                </tr>
             </thead>
             <tbody>
                <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                <tr>
                   <td><%= data[i].ID_TECNICO %></td>
                   <td><%= data[i].nombre_tec %></td>
                   <td><%= data[i].nombre_emp %></td>
                   <td><%= data[i].celular %></td>
                   <td><%= data[i].firma_tec %></td>
                   <td>
                    <a href="/administrador/tecnico/update/<%=data[i].ID_TECNICO%>" class="btn btn btn-outline-secondary" style="width: 48%;"
                        >Editar</a
                     >
                      <a href="/administrador/tecnico/del/<%=data[i].ID_TECNICO%>" class="btn btn btn-outline-danger" style="width: 48%;"
                         >borrar</a
                      >
                   </td>
                </tr>
                <% } %> <% } %>
             </tbody>
          </table>
       </div>
       <div class="col-md-4">
         <div class="card mb-2" style="border-color: #59adce; max-width: 20rem;">
           <div class="card-header">Agregar técnico</div> 
               <div class="card-body">
                   <form action="/administrador/tecnico/add" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="nombre_tec"
                        placeholder="Nombre"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <select class="form-control" name="idempresa">
                         <% if (bdempresa){ %> <% for (var i=0; i< bdempresa.length; i++) { %>
                             <option value="<%= bdempresa[i].ID_EMPRESA %>"><%= bdempresa[i].nombre_emp %></option>
                         <% } %> <% } %>
                     </select>
                 </div>
                  <div class="form-group">
                     <input
                        type="text"
                        name="celular"
                        placeholder="celular"
                        class="form-control"
                     />
                  </div>
                <div class="form-group">
                   <input
                      type="text"
                      name="firma_tec"
                      placeholder="firma"
                      class="form-control"
                   />
                </div>
                  <button type="submit" class="btn btn-outline-primary" style="width: 49%;">Guardar</button>
                  <a href="/administrador/tecnico/pdf" class="btn btn btn-outline-info" style="width: 49%;"
                     >imprimir</a>
               </form>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>