<%- include('../../main/_header') -%>

<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
    <h1>Editor de bitacora
    </h1>
 </div>

<div class="container">
    <div class="row mt-8">
       <div class="col-md-12">
         <div class="card mb-3" style="border-color: #59adce;">
           <div class="card-header">Actualizar bitácora: <%= data.ID_MANTENIMIENTO %></div> 
               <div class="card-body">
                   <form action="/administrador/bitacora/update/<%= data.ID_MANTENIMIENTO %>" method="POST">
                        <div class="form-group">
                            <h3>Trabajador</h3>
                            <select class="form-control" id="idtrabajador" name="idtrabajador" >
                                <% if (bdtrabajador){ %> <% for (var i=0; i< bdtrabajador.length; i++) { %>
                                    <option value="<%= bdtrabajador[i].ID_TRABAJADOR %>"><%= bdtrabajador[i].nombre_tra %></option>
                                <% } %> <% } %>
                            </select>
                            <h3 style="margin-top: 1%;">Empresa</h3>
                            <select class="form-control" id="idempresa"" onclick="tecnico();">
                                <% if (bdempresa){ %> <% for (var i=0; i< bdempresa.length; i++) { %>
                                    <option value="<%= bdempresa[i].ID_EMPRESA %>"><%= bdempresa[i].nombre_emp %></option>
                                <% } %> <% } %>
                            </select>
                            <h3 id="tecnico" style="margin-top: 1%;">Nombre de técnico</h3>
                            <select class="form-control" id="auxtecnico" name="idtecnico"></select>
                            <script>
                                var tec = <%- JSON.stringify(bdtecnico) %> 
                                console.log(tec);
                                function tecnico(){
                                    var empresa = document.getElementById("idempresa").value;
                                    var tecnicos = document.getElementById("auxtecnico");
                                    var aux = 0;
                                        for(var i=0 ; i< tec.length ; i++){
                                            if(tec[i].idempresa == empresa){
                                            tecnicos.options[aux] = new Option (tec[i].nombre_tec,tec[i].ID_TECNICO);
                                            aux++;
                                            }
                                        }
                                    }
                            </script>
                            
                            <h3 style="margin-top: 1%;">No. serie del equipo</h3>
                            <select class="form-control" id="idequipo" name="idequipo" >
                                <% if (bdequipo){ %> <% for (var i=0; i< bdequipo.length; i++) { %>
                                    <option value="<%= bdequipo[i].ID_EQUIPO %>"><%= bdequipo[i].serie %></option>
                                <% } %> <% } %>
                            </select>

                            <h3 style="margin-top: 1%;">Diagnosticos del equipo</h3>
                            <div class="col-md-12">
                                <div class="card mb-3" style="border-color: #59adce;">
                                    <div class="card-body">
                                        <div class="row mt-2" style="max-width: 90%; margin-left: 5%;">
                                            <div class="col-md-6">
                                                <label for="exampleTextarea">Falla</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleTextarea">Causa</label>
                                            </div>

                                            <div class="col-md-6">
                                                <textarea class="form-control" id="falla" name="falla"></textarea>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <textarea class="form-control" id="causa" name="causa"></textarea>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <label for="exampleTextarea">Solución</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleTextarea">Piezas nuevas</label>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <textarea class="form-control" id="solucion" name="solucion"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control" id="nuevo" name="nuevo" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    <button type="submit" style="width: 100%;" class="btn btn-outline-primary" onclick="alert('Bitácora Actualizada')">Actualizar</button>
                </div>
            </div>
         </div>
      </div>
    </div>
 </div>


<%- include('../../main/_footer') -%>