<%- include('../../main/_header') -%> <%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Administrador de bitácora
   </h1>
</div>
<div class="container">
   <div class="row mt-8">
      <div class="col-md-12">
         <table class="table table-bordered table-hover">
            <thead>
               <tr class="table-active">
                  <th>Id</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de termino</th>
                  <th>Nombre del trabajador</th>
                  <th>Nombre del técnico</th>
                  <th>Empresa</th>
                  <th>Equipo</th>
                  <th>Tipo</th>
                  <th>Falla</th>
                  <th>Solución</th>
                  <th style="text-align: center;">Acciones</th>
               </tr>
            </thead>
            <tbody>
               <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
               <tr>
                  <td><%= data[i].ID_MANTENIMIENTO %></td>
                  <td><%= data[i].inicio_f %></td>
                  <td><%= data[i].inicio_f %></td>
                  <td><%= data[i].nombre_tra %></td>
                  <td><%= data[i].nombre_tec %></td>
                  <td><%= data[i].nombre_emp %></td>
                  <td><%= data[i].serie %></td>
                  <td><%= data[i].tipo_mantenimiento %></td>
                  <td><%= data[i].falla %></td>
                  <td><%= data[i].solucion %></td>
                  <td>
                     <a
                        href="/administrador/bitacora/update/<%=data[i].ID_MANTENIMIENTO%>"
                        class="btn btn btn-outline-secondary"
                        style="width: 100%"
                        >Editar</a
                     >

                     <a
                        href="/administrador/bitacora/del/<%=data[i].ID_MANTENIMIENTO%>"
                        class="btn btn btn-outline-danger"
                        style="width: 100%"
                        >borrar</a
                     >
                  </td>
               </tr>
               <% } %> <% } %>
            </tbody>
         </table>
      </div>
   </div>
</div>

<%- include('../../main/_footer') -%>
