<%- include('../main/_header') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%;">
    <h1 style="text-align: center;">Busqueda de mantenmienito
    </h1>
</div>

<div class="card mb-2" style="border-color: #59adce; width: 80%; margin-left: 10%;">
    <dic class="card-header"><h2 style="text-align: center;">Seleccione un tipo de busqueda</h2></dic>
    <div class="card-body">
        <div class="container">
            <div class="row mt-1">
                <div class="col-md-3">
                    <div class="card mb-2" style="border-color: #59adce;">
                        <dic class="card-header"><h4>Buscar por Trabajador</h4></dic>
                        <div class="card-body">
                            <form action="/busqueda/trabajador" method="POST">
                                <div class="form-group">
                                    <select class="form-control" id="id_trabajador" name="id_trabajador" >
                                        <% if (bdtrabajador){ %> <% for (var i=0; i< bdtrabajador.length; i++) { %>
                                            <option value="<%= bdtrabajador[i].ID_TRABAJADOR %>"><%= bdtrabajador[i].nombre_tra %></option>
                                        <% } %> <% } %>
                                    </select>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 5%;">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-2" style="border-color: #59adce;">
                        <dic class="card-header"><h4>Buscar por Empresa</h4></dic>
                        <div class="card-body">
                            <form action="/busqueda/empresa" method="POST">
                                <div class="form-group">
                                    <select class="form-control" id="id_empresa" name="id_empresa" >
                                        <% if (bdempresa){ %> <% for (var i=0; i< bdempresa.length; i++) { %>
                                            <option value="<%= bdempresa[i].ID_EMPRESA %>"><%= bdempresa[i].nombre_emp %></option>
                                        <% } %> <% } %>
                                    </select>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 5%;">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-2" style="border-color: #59adce;">
                        <dic class="card-header"><h4>Buscar por Técnico</h4></dic>
                        <div class="card-body">
                            <form action="/busqueda/tecnico" method="POST">
                                <div class="form-group">
                                    <select class="form-control" id="id_tecnico" name="id_tecnico" >
                                        <% if (bdtecnico){ %> <% for (var i=0; i< bdtecnico.length; i++) { %>
                                            <option value="<%= bdtecnico[i].ID_TECNICO %>"><%= bdtecnico[i].nombre_tec %></option>
                                        <% } %> <% } %>
                                    </select>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 5%;">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-2" style="border-color: #59adce;">
                        <dic class="card-header"><h4>Buscar por Equipo</h4></dic>
                        <div class="card-body">
                            <form action="/busqueda/equipo" method="POST">
                                <div class="form-group">
                                    <select class="form-control" id="id_equipo" name="id_equipo" >
                                        <% if (bdequipo){ %> <% for (var i=0; i< bdequipo.length; i++) { %>
                                            <option value="<%= bdequipo[i].ID_EQUIPO %>"><%= bdequipo[i].serie %></option>
                                        <% } %> <% } %>
                                    </select>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 5%;">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

 <div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-active">
                        <th>Id</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de término</th>
                        <th>Nombre del trabajador</th>
                        <th>Nombre del técnico</th>
                        <th>Empresa</th>
                        <th>Equipo</th>
                        <th>Tipo</th>
                        <th>Falla</th>
                        <th>Solución</th>
                        <th style="text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                    <tr>
                        <td><%= data[i].ID_MANTENIMIENTO %></td>
                        <td><%= data[i].inicio_f %></td>
                        <td><%= data[i].inicio_f %></td>
                        <td><%= data[i].nombre_tra %></td>
                        <td><%= data[i].nombre_tec %></td>
                        <td><%= data[i].nombre_emp %></td>
                        <td><%= data[i].serie %></td>
                        <td><%= data[i].tipo_mantenimiento %></td>
                        <td><%= data[i].falla %></td>
                        <td><%= data[i].solucion %></td>
                        <td>
                            <a href="/bitacora/pdf/<%=data[i].ID_MANTENIMIENTO%>" class="btn btn btn-outline-info" style="width: 100%;"
                         >imprimir</a>
                        </td>
                    </tr>
                        <% } %> <% } %>
                </tbody>
        </table>
    </div>
</div>
</div>
<%- include('../main/_footer') -%>