</body>

<footer>
    <nav class="navbar navbar-expand-lg navbar-dark" style="height: 10em; background-color: #5e2129; color:aliceblue;">
        <div class="container">
            <div class="row mt-2" style="width:100%">
               <div class="col-md-12">
                   <h2>Contacto</h2>
               </div>
               <div class="col-md-6">
                   Ruiz Díaz Raúl<br>
                   55 4490 4305<br>
                   raul.ruiz@ymail.com 
                </div>
                <div class="col-md-6">
                    Juan Carlos Molina Gutiérrez<br>
                    5568152339<br>
                    carmoli@pm.me
                </div>
            </div>
        </div>
    </nav>
</footer>

</html>