<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Bitácora</title>
      <link
         rel="stylesheet"
         href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
      />
      <link href="http://ksylvest.github.io/jquery-growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css">

      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
   </head>

   <style>

header{
   flex: 0 0 auto;
}

.main-content{
   flex: 1 0 auto;
}

footer{
   flex: 0 0 auto;
}

   </style>

   <body>
      <div class="container" style="height: 6em; width: 100%;">
         <div class="row mt-1">
            <div class="col-md-2">
               <img SRC="https://www.ipn.mx/assets/files/nanocentro/img/conocenos/logo-cnmn.gif" style="height: 20%;">
            </div>
             <div class="col-md-7">
               <h2 style="font-weight: 500; color: #5e2129; text-align: center;">Instituto Politécnico Nacional</h2>
               <h4 style="font-weight: 400; color: #2f849a; text-align: center;">Centro de Nanociencias y Micro y Nanotecnologías</h4>
             </div>
            <div class="col-md-3">
               <img SRC="https://www.citedi.ipn.mx/portal/img/fpage/logo_ipn_web_citedi.png" style="height: 20%;">
            </div>
         </div>
      </div>

     <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5e2129;"> 
        <a class="navbar-brand" href="/"><h3>Bitácora de mantenimiento</h3></a>
        <div class="collapse navbar-collapse" id="navbarColor01"></div>
           <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                 <a class="nav-link" href="/bitacora/nueva"><h3>Bitácora</h3></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/busqueda"><h3>Busqueda</h3></a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/administrador"
                    ><h3>Administrador</h3></a
                 >
              </li>
           </ul>
        </div>
     </nav>
   