<%- include('../../main/_header') -%>
<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Editor de equipo
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
        <div class="col-md-2"></div>
       <div class="col-md-8">
         <div class="card mb-2" style="border-color: #59adce; max-width: 50rem;">
           <div class="card-header">Actualizar equipo: <%= data.serie %></div> 
               <div class="card-body">
                   <form action="/administrador/equipo/update/<%= data.ID_EQUIPO %>" method="POST">
                    <div class="form-group">
                        <input
                           type="text"
                           name="marca"
                           placeholder="marca"
                           class="form-control"
                        />
                     </div>
                     <div class="form-group">
                        <input
                           type="text"
                           name="modelo"
                           placeholder="modelo"
                           class="form-control"
                        />
                     </div>
                     <div class="form-group">
                        <input
                           type="text"
                           name="serie"
                           placeholder="serie"
                           class="form-control"
                        />
                     </div>
                     <div class="form-group">
                      <input
                         type="text"
                         name="lugar"
                         placeholder="lugar"
                         class="form-control"
                      />
                   </div>
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary" onclick="alert('Equipo Actualizado')">Actualizar</button>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>