<%- include('../../main/_header') -%>
<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Administrador de equipos
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
       <div class="col-md-8">
          <table class="table table-bordered table-hover">
             <thead>
                <tr class="table-active">
                   <th>Id</th>
                   <th>Marca</th>
                   <th>Modelo</th>
                   <th>No. serie</th>
                   <th>Lugar</th>
                   <th style="text-align: center;">Acciones</th>
                </tr>
             </thead>
             <tbody>
                <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                <tr>
                   <td><%= data[i].ID_EQUIPO %></td>
                   <td><%= data[i].marca %></td>
                   <td><%= data[i].modelo %></td>
                   <td><%= data[i].serie %></td>
                   <td><%= data[i].lugar %></td>
                   <td>
                    <a href="/administrador/equipo/update/<%=data[i].ID_EQUIPO%>" class="btn btn btn-outline-secondary" style="width: 49%;"
                        >Editar</a
                     >
                      <a href="/administrador/equipo/del/<%=data[i].ID_EQUIPO%>" class="btn btn btn-outline-danger" style="width: 49%;"
                         >borrar</a
                      >
                      
                   </td>
                </tr>
                <% } %> <% } %>
             </tbody>
          </table>
       </div>
       <div class="col-md-4">
         <div class="card mb-2" style="border-color: #59adce; max-width: 20rem;">
           <div class="card-header">Agregar equipo</div> 
               <div class="card-body">
                   <form action="/administrador/equipo/add" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="marca"
                        placeholder="marca"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="text"
                        name="modelo"
                        placeholder="modelo"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="text"
                        name="serie"
                        placeholder="serie"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                   <input
                      type="text"
                      name="lugar"
                      placeholder="lugar"
                      class="form-control"
                   />
                </div>
                  <button type="submit" class="btn btn-outline-primary" style="width: 49%;">Guardar</button>
                  <a href="/administrador/equipo/pdf" class="btn btn btn-outline-info" style="width: 49%;"
                     >imprimir</a>
               </form>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>