<%- include('../../main/_header') -%>

<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Editor de trabajador
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
        <div class="col-md-2"></div>
       <div class="col-md-8">
         <div class="card mb-2" style="border-color: #59adce; max-width: 50rem;">
           <div class="card-header">Actualizar trabajador: <%= data.nombre_tra %></div> 
               <div class="card-body">
                   <form action="/administrador/trabajador/update/<%= data.ID_TRABAJADOR %>" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="nombre_tra"
                        placeholder="Nombre"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="text"
                        name="firma_tra"
                        placeholder="firma"
                        class="form-control"
                     />
                  </div>
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary" onclick="alert('Trabajador Actualizado')">Actualizar</button>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>