<%- include('../../main/_header') -%>

<%- include('../_administrador') -%>

<div class="card text-white mb-2" style=" background-color: #142857; margin-top: 1%; text-align: center;">
   <h1>Administrador de trabajadores
   </h1>
</div>
<div class="container">
    <div class="row mt-8">
       <div class="col-md-8">
          <table class="table table-bordered table-hover">
             <thead>
                <tr class="table-active">
                   <th>Id</th>
                   <th>Nombre</th>
                   <th>Firma</th>
                   <th style="text-align: center;">Acciones</th>
                </tr>
             </thead>
             <tbody>
                <% if (data){ %> <% for (var i=0; i< data.length; i++) { %>
                <tr>
                   <td><%= data[i].ID_TRABAJADOR %></td>
                   <td><%= data[i].nombre_tra %></td>
                   <td><%= data[i].firma_tra %></td>
                   <td>
                    <a href="/administrador/trabajador/update/<%=data[i].ID_TRABAJADOR%>" class="btn btn btn-outline-secondary" style="width: 49%;"
                        >Editar</a
                     >
                      <a href="/administrador/trabajador/del/<%=data[i].ID_TRABAJADOR%>" class="btn btn btn-outline-danger" onclick="alert('Trabajador eliminado')" style="width: 49%;"
                        >borrar</a
                      >
                   </td>
                </tr>
                <% } %> <% } %>
             </tbody>
          </table>
       </div>
       <div class="col-md-4">
         <div class="card mb-2" style="border-color: #59adce; max-width: 20rem;">
           <div class="card-header">Agregar trabajador</div> 
               <div class="card-body">
                   <form action="/administrador/trabajador/add" method="POST">
                   <div class="form-group">
                     <input
                        type="text"
                        name="nombre_tra"
                        placeholder="Nombre"
                        class="form-control"
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="text"
                        name="firma_tra"
                        placeholder="firma"
                        class="form-control"
                     />
                  </div>
                  <button type="submit" class="btn btn-outline-primary" onclick="alert('Trabajador Agregado')" style="width: 49%;">Guardar</button>
                  <a href="/administrador/trabajador/pdf" class="btn btn btn-outline-info" style="width: 49%;"
                     >imprimir</a>
            </div>
         </div>
      </div>
    </div>
 </div>

<%- include('../../main/_footer') -%>